@model E_Commerce_Application.Models.User

@{ 
    ViewBag.Title = "Login";
    }
<head>
    <link href="~/Content/lib/toastr/toastr.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="container-fluid">

                        <h1 style="font-family:Century Gothic">
                            <span style="color:#0e0e0e">D</span>
                            <span style="color:rgba(21, 21, 131, 0.87)">i</span>
                            <span style="color:#149029">g</span>
                            <span style="color:rgba(21, 21, 131, 0.87)">i</span>
                        </h1>
                        <h2>
                            <span style="color:#fa0404">S</span>
                            <span style="color:#e04f89">h</span>
                            <span style="">&#128512;</span>
                            <span style="color:#ff6a00">p</span>
                            <span style="color:#ff6a00">p</span>
                            <span style="color:#e21de4">y</span>
                        </h2>



                        <img src="~/Content/Images/cart1.png" style="width:50%">
                    </div>
                </div>

                <div class="col-lg-6">


                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        <div class="container-fluid">
                            <center>
                                <br />
                                <div style="border:1px solid lightgrey;background-color:white;border-radius:30px;padding:50px; box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.6), 0 1px 10px 0 rgba(0, 0, 0, 0.19);">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(model => model.str_Username, new { @class = "form-control", @placeholder = " Username", @style = "background-color:whitesmoke" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.ValidationMessageFor(model => model.str_Username, null, new { @style = "color:indianred" })
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.PasswordFor(model => model.str_Password, new { @class = "form-control", @placeholder = " Password", @style = "background-color:whitesmoke" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.ValidationMessageFor(model => model.str_Password, null, new { @style = "color:indianred" })
                                        </div>

                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="button" style="width:80px;color:dimgray" id="loginid" class="btn btn-default" onclick="login()">LogIn</button>
                                            <button type="button" class="btn btn-primary" id="ProcessId" style="display:none" disabled>Processing...</button>
                                            <br /><br />
                                        </div>
                                    </div>

                                </div>
                            </center>
                        </div>}
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/validate/jquery.validate.min.js"></script>
    <script src="~/Content/lib/toastr/toastr.js"></script>


    <script type="text/javascript">

        function login(){
                var user = $("form").serializeArray();

                $.ajax({
                    url: '/Login/Login',
                    type: 'POST',
                    // dataType: 'JSON',
                    //contentType: 'application/json:charset=utf-8',
                    data: user,
                    beforeSend: function () {

                        $("#loginid").css("display", "none");
                        $("#ProcessId").removeAttr("style");
                    },
                    success: function (data) {
                        if (data.result == true && data.userlogin == "admin") {
                            toastr.success(data.strMsg);
                            window.location.href = '@Url.Action("Index", "Product")';

                        }
                        else if (data.result == true && data.userlogin=="user") {
                            toastr.success(data.strMsg);
                            window.location.href = '@Url.Action("Index", "User")';

                        }
                        else{
                            $("#ProcessId").css("display", "none");
                            $("#loginid").removeAttr("style");
                            toastr.info(data.strMsg);
                        }
                    }
                });
            }
    </script>
    



</body>
